# LaTeX intermediate files
*.aux
*.bbl
*.bcf
*.blg
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.run.xml
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# Compiled output
*.pdf

# Editor junk
.vscode/
.DS_Store
